@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #fff;
  font-family: "Poppins";
}
.navbar {
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Items {
font-family: 'Inter';
font-weight: bold;
font-size: 18px;
line-height: 30px;
}

.mylogo {
  width: 80px;
  transform: rotate(-90deg);
  padding: 0 50px 0 50px;
}
